@import '../bower_components/bootstrap/less/variables.less';
@import '../bower_components/bootstrap/less/mixins.less';
@import 'tools.less';

a:hover {
  opacity: 0.7;
}

.center {
  text-align: center;
}
.navbar{
  border-radius: 0;
  ul.navbar-nav{
    float: right;
  }
}

.divider{
    border-left: 1px solid #fff;
    padding: 0 0;
    position: relative;
    top: 20px;
  }
canvas {
  background-color: #000;
}

.toolbar {
  position: absolute;
  top: 90px;
  left: 0;
  .btn-group-vertical{
    width: 50px;
  }
}

#footer{
  padding: 10px 0;
  background-color: @gray-lighter;
  width: 100%;

  @media(min-height: 490px){
    position: absolute;
    bottom: 0px;
  }
  .desarrollado-taller{
    p {
      width: 100px;
      height: 100%;
      padding: 0;
      float:left;
      margin: 0 10px 0 0;
    }
    a{
      margin: auto 0;
      float:left;
    }
  }
}
