@import 'matrix.less';
@import '../bower_components/bootswatch/yeti/variables.less';
@import '../bower_components/bootstrap/less/mixins.less';

.container-full {
  margin: 0 auto;
  width: 100%;
}

.navbar{
  color: #fff;
}

.colorpicker .dropdown-menu{
  background-color: @brand-primary;
}
.colorpicker-position-right .dropdown-menu::after{
  border-right-color: @brand-primary !important;
}

#footer{
  padding: 10px 0;
  background-color: @gray-lighter;
  width: 100%;
  position: absolute;
  bottom: 0px;
  .desarrollado-taller{
    p {
      width: 100px;
      height: 100%;
      padding: 0;
      float:left;
      margin: 0 10px 0 0;
    }
    a{
      margin: auto 0;
      float:left;
    }
  }
}
